@font-face {
	font-family: 'Liberation-Mono';
	src:url('fonts/Liberation-Mono.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation-Sans';
	src:url('fonts/Liberation-Sans.ttf.woff') format('woff'); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation-Sans-Bold';
	src:url('fonts/Liberation-Sans-Bold.ttf.woff') format('woff'); 
	font-weight: normal;
	font-style: normal;
}

.header
{
	background-color: #F1F1F1;
	text-align: center;
	padding: 0.5em;
	border: 1px #AFAFAF;
	border-style: solid solid none solid;
	font-size: 2em;
	max-width: 25em;
	margin: auto;
}

.navigation
{
	background-color: #222222;
	display: flex;
	justify-content: space-evenly;
	border: 1px;
	border-style: solid;
	border-top-color: #898989;
	border-right-color: #474747;
	border-bottom-color: #717171;	
	border-left-color: #474747;
	max-width: 52em;
	margin: auto;
}

.navigation a
{
	float: left;
	display: block;
	color: #F1F1F1;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
}

.navigation a:hover
{
	background-color: #333333;
	color: #F1F1F1;
	border: 1px;
	border-style: none solid none solid;
	border-left-color: #2A2A2A;
	border-right-color: #2A2A2A;	
	padding-left: calc(0.75em - 1px);
	padding-right: calc(0.75em - 1px);
}

.sticky-div-top
{
	top: 0;
	position: sticky;
	padding: 0em;
}

.sticky-div-bottom
{
	bottom: 0;
	position: sticky;
	padding: 0em;
}

.content
{
	border: 1px #969696;
	border-style: none solid none solid;
	background-color: #C0C0C0;
	padding: 1em;
	min-height: calc(100vh - 12em);
	max-width: 50em;
	margin: auto;
}

.wrapper
{
	padding: 0.2em;
	margin-bottom: 2em;
	overflow: hidden;
}

.wrapper-flex
{
	display: block;
}

.flex-width-33
{
	padding: 0.5em;
	margin: auto;
	display: block;
}

.flex-width-67
{
	padding: 0.5em;
	margin: auto;
	display: block;
}

@media screen and (width >= 52em) 
{
	.wrapper-flex
	{
		display: flex;
	}

	.flex-width-33
	{
		padding: 0.25em;
		width: 33%;
		height: 100%;
		margin: auto;
	}

	.flex-width-67
	{
		padding: 0.5em;
		width: 67%;
		height: 100%;
		margin: auto;
	}
}

.flex-width-40
{
	padding: 0.5em;
	margin: auto;
	display: block;
}

.flex-width-60
{
	padding: 0.5em;
	margin: auto;
	display: block;
}

@media screen and (width >= 52em) 
{
	.flex-width-40
	{
		padding: 0.3em;
		width: 40%;
		height: 100%;
		margin: auto;
	}

	.flex-width-60
	{
		padding: 0.45em;
		width: 60%;
		height: 100%;
		margin: auto;
	}
}

.stars
{
	font-family: Liberation-Mono;
	font-size: 1.25em;
	padding-left: 0.5em;
}

.skills
{
	padding: 0.2em;
	overflow: hidden;
	margin-bottom: 1em;
}

.resizable-circle
{
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.smallbox
{
	border-radius: 0.5em;
	padding: 0.05em 0.5em 0.05em 0.5em;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	float: left;
	margin: 0.3em;
	border: 1px #606060 solid;
	font-family: Liberation-Mono;
	font-size: 1.1em;
}

.company
{
	font-weight: bold;
}

.date
{
	text-decoration: underline;
}

.justified
{
	text-align: justify;
	text-justify: inter-word;
}

.contents
{
	background-color: #A0A0A0;
	border: 1px solid #B0B0B0;
	border-radius: 0.5em;
	width: 18em;
	margin-left: 0.3em;
	margin-bottom: 2.5em;
}

.project
{
	border: 1px solid #B0B0B0;
	border-radius: 0.5em;
	background-color: #A0A0A0;
	display: block;
}

.project-title
{
	scroll-margin-top: 6.2em;
}

@media screen and (width >= 52em) 
{
	.project
	{
		border: 1px solid #B0B0B0;
		border-radius: 0.5em;
		background-color: #A0A0A0;
		display: flex;
	}
}

.project-image
{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.project-description
{
	margin-bottom: 1em;
}

.repository
{
	border-radius: 0.5em;
	padding: 0.5em 0em 0.5em 0em;
	text-align: center;
	background-color: #C0C0C0;
	border: 1px solid #B0B0B0;
	font-family: Liberation-Mono;
	font-size: 1.1em;
	width: 100%;
}

.ul-inline
{
	padding-top: 0em;
	padding-bottom: 0em;
}

.certificate
{
	font-family: Liberation-Sans-Bold;
}

.footer
{
	background-color: #F1F1F1;
	text-align: center;
	padding: 0.75em;
	margin-left: auto;
	margin-right: auto;
	max-width: 50.5em;
	border: 1px;
	border-style: solid;
	border-top-color: #D8D8D8;
	border-right-color: #AFAFAF;
	border-bottom-color: #AFAFAF;
	border-left-color: #AFAFAF;
}

body
{
	margin: auto;
	height: 100%;
	font-family: Liberation-Sans;
	background-color: #6D6D6D;
}

html
{
	overflow-y: scroll;
}

h1
{
	text-align: center;
	border: 1px #B0B0B0 solid;
	background-color: #A0A0A0;
	border-radius: 0.5em;
	font-family: Liberation-Sans-Bold;
}

h2
{
	margin: auto;
}

h3
{
	margin: 0.5em 0em 0em 0em;
}

ul
{
	margin: 0px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a
{
	text-decoration: none;
	color: blue;
}
